
.ironman {
    background: url(../../public/pictures/person/ironman.jpg);
    background-size: 100% 100%;
}

.kapitan-america {
    background: url(../../public/pictures/person/kapitan-america.jpg);
    background-size: 100% 100%;
}

.tor {
    background: url(../../public/pictures/person/tor.jpg);
    background-size: 100% 100%;
}

.loki {
    background: url(../../public/pictures/person/loki.jpg);
    background-size: 100% 100%;
}

.halk {
    background: url(../../public/pictures/person/halk.jpg);
    background-size: 100% 100%;
}

.spider-man {
    background: url(../../public/pictures/person/spider-man.jpg);
    background-size: 100% 100%;
}

.voitel {
    background: url(../../public/pictures/person/voitel.jpg);
    background-size: 100% 100%;
}

.dr-strange {
    background: url(../../public/pictures/person/dr-strange.jpg);
    background-size: 100% 100%;
}

.sokol {
    background: url(../../public/pictures/person/sokol.jpg);
    background-size: 100% 100%;
}

.fiyri {
    background: url(../../public/pictures/person/fiyri.jpg);
    background-size: 100% 100%;
}

.zimniy-soldat {
    background: url(../../public/pictures/person/zimniy-soldat.jpg);
    background-size: 100% 100%;
}

.sokoliniy-glaz {
    background: url(../../public/pictures/person/sokoliniy-glaz.jpg);
    background-size: 100% 100%;
}

.black-widow {
    background: url(../../public/pictures/person/black-widow.jpg);
    background-size: 100% 100%;
}

.chel-muravey {
    background: url(../../public/pictures/person/chel-muravey.jpg);
    background-size: 100% 100%;
}

.osa {
    background: url(../../public/pictures/person/osa.jpg);
    background-size: 100% 100%
}

.black-panter {
    background: url(../../public/pictures/person/black-panter.jpg);
    background-size: 100% 100%
}

.alaya-vedma {
    background: url(../../public/pictures/person/alaya-vedma.jpg);
    background-size: 100% 100%
}

.vision {
    background: url(../../public/pictures/person/vision.jpg);
    background-size: 100% 100%
}

.kapitan-marvel {
    background: url(../../public/pictures/person/kapitan-marvel.jpg);
    background-size: 100% 100%
}

.star-lord {
    background: url(../../public/pictures/person/star-lord.jpg);
    background-size: 100% 100%
}

.grut {
    background: url(../../public/pictures/person/grut.jpg);
    background-size: 100% 100%
}

.gamora {
    background: url(../../public/pictures/person/gamora.jpg);
    background-size: 100% 100%
}

.draks {
    background: url(../../public/pictures/person/draks.jpg);
    background-size: 100% 100%
}

.raketa {
    background: url(../../public/pictures/person/raketa.jpg);
    background-size: 100% 100%
}

.personName {
    margin: 0;
}


