.nav {
    border: none;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 20%;
    margin-bottom: 0.6%;
}

.menuh {
    /* margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%; */
    display: flex;

    background-color: rgba(77, 77, 77, 0.967);
    border: solid;
    border-color: #3e3e3e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.445),
        0 5px 10px rgba(0, 0, 0, 0.386);
}

.menuh>div {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(56, 56, 56, 0.944);
    margin-right: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 26%);
}

.menuh>div:hover {
    background-color: black;
}

.search {
    border: none;
    font-size: 17px;
    margin: 10px;
}

ul.menu {
    margin-top: 10px;
    padding-left: 2%;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
}

.menuLink {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(56, 56, 56, 0.944);
    margin-right: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(0, 0, 0, 0.258);
}

.menuLink:hover {
    background-color: black;
}