.content {
    margin-left: 11%;
    margin-right: 11%;
    padding-top: 1px;
    font-size: 20px;
    color: antiquewhite;
    background-color: rgba(77, 77, 77, 0.967);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
        0 10px 15px rgba(0, 0, 0, 0.386);
    border: solid;
    border-color: #3e3e3e;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    margin: 0;
}

hr {
    width: 90%;
}

img {
    width: 280px;
    height: 420px;
}

span {
    font-size: 13px;
}

span>a {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.back-film {
    cursor: w-resize;
}
.forward-film {
    cursor: e-resize;
}

.player {
    position: static;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: filter 0.2s linear 0s;
        min-height: auto;
        max-height: none;
        min-width: auto;
        max-width: none;
}

#player {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-bottom: 40px;
}

.screen {
    display: flex;
    justify-content: center;
}

.screen>img {
    height: 180px;
    margin: 3px;
}

.screen>img:hover {
    transition: 1s;
    transform: scale(1.5);
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
        0 10px 15px rgba(0, 0, 0, 0.386);
}

.info {
    width: 65%;
}

.descript {
    margin: 0;
}

.descript>li {
    margin: 5px 0;
}

.descript>.a {
    list-style-image: url(../../../public/pictures/regi.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.descript>.b {
    list-style-image: url(../../../public/pictures/time1.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.descript>.c {
    list-style-image: url(../../../public/pictures/genre.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.descript>.d {
    list-style-image: url(../../../public/pictures/primer.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.descript>.e {
    list-style-image: url(../../../public/pictures/actr.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.descript>.f {
    list-style-image: url(../../../public/pictures/pers.png);
    background-color: #1c1c1c46;
    padding: 3px;
    margin: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.film {
    display: flex;
    align-content: center;
    font-size: 15px;
}

.span {
    margin: 10%;
}

.logo {
    padding: 1% 7% 1% 2%;
    margin: 2px 2px 2px 2%;
    background: url(../../../public/pictures/logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

p.plot {
    margin: 0 10% 0 10%;
    padding: 10px;
    background-color: #1c1c1c46;
    text-align: justify;
    font-weight: lighter;
}


#slideshow {
    overflow: hidden;
    height: 420px;
    width: 280px;
    margin-left: 5%;
    border-style: ridge;
    border-color: rgba(149, 107, 107, 0.566);
}

.slide {
    float: left;
    height: 420px;
    width: 280px;

}

.slide-wrapper {
    width: calc(280px * 4);
    animation: slide 15s ease infinite;
}

@keyframes slide {

    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-280px * 1);
    }

    60% {
        margin-left: calc(-280px * 2);
    }

    80% {
        margin-left: calc(-280px * 3);
    }
}